
  
.section {
  text-align: left;
  max-width: 800px;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #470101; 
}

.container {
  padding: 5rem;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
  }

.font_text{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}