.header {
  gap: 5rem;
    padding: 5rem;
  display: flex;
  }
  
  .section {
    text-align: left;
    max-width: 800px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #3a1e19; 
  }

  .container {
    display: flex;
    flex-direction: row; 
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Push items to the ends */
    width: 100%; /* Ensure the container spans the full width */
  }