.nav {
    display: flex;
    justify-content: right;
    gap: 5rem;
    padding: 5rem;
    padding-right: 10em;
    background-color: transparent; 
  }
  
  .icon {
    font-size: 1.5rem;
    color: #BB6851; 
    text-decoration: none;
    transition: transform 0.2s, color 0.2s;
    font-size: 50px;
  }
  
  .icon:hover {
    color: #470101; 
    transform: scale(1.5); 
  }

  .active {
    color: #782929; 
    transform: scale(1.1); 
  }