/* components/Tabs.module.css */
.tabs {
    display: left;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }
  
  .tabNav {
    display: flex;
    gap: 1.5rem;
    padding-left: 20rem;
    margin-bottom: 1rem;
  }
  
  .tabButton {
    background:none;
    font-family: "Josefin Sans", sans-serif;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #000;

  }
  
  .tabButton:hover {
    color: #d99683;
  }
  
  .active {
    background: #470101;
    color: #FFF;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #3a1e19;
  }