.content {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: none; 
  }
  
  .container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    }

  .section {
    margin-bottom: 1.5rem;
    display: flex;
    gap: 50px; /* gap between content_left and content_right */
    margin: 20px 0;
    padding-bottom: 50px;
  }
  
  .content_left {
    flex: 1; /* content_left takes up one part of the space */
  }
  
  .projectImage {
    width: 100%; /* image is responsive */
    height: auto; /* maintain aspect ratio */
    border-radius: 8px; 
  }

  .content_right {
    flex: 2; /* content_right take up two parts of the space */
    display: flex;
    flex-direction: column; /* Stack content in a column */
    justify-content: center; /* Center the content vertically */
    gap: 10px; /* Add spacing between text elements */
  }

.h2 {
  font-size: 1.5rem;
  color: #470101;
  margin-bottom: 0.5rem;
}

.normal {
  font-family: "Roboto Mono", monospace;
  color: #BB6851;
  font-weight: 100;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  align-items: right;
}

.winner {
  font-family: "Roboto Mono", monospace;
  color: #BB6851;
  background-color: #D9D9D9;
  font-weight: 100;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  align-items: right;
}

.links {
  margin-top: 10px;
}

.link {
  display: inline-block;
  margin-right: 15px;
  color: #043192; /* Adjust color as needed */
  text-decoration: none;
  transition: color 0.3s;
}



  


  