

body {
  font-family: 'Open Sans', sans-serif;
  color: #470101;

  /*overflow-x: hidden;*/
}

a {
  color: #782929;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #F87070 ;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/*
Sections! 
*/

section {
  padding: 60px 0;
  overflow: hidden; 
}
