.downloads {
    display: flex;
    justify-content: left;
    padding-left: 20rem;
  }
  
  .link {
    display: inline-flex;
    font-size: 2rem;
    color: #BB6851; 
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s, color 0.2s;
  }
  
  .link:hover {
    color: #470101;
    border-bottom-color: #470101; 
  }

  .icon {
    font-size: 0.8rem;
    margin-left: 5px;
    text-decoration: none;
    font-size: 35px;
  }
  
